#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json
packaging_format = 2

id = "gogs"
name = "Gogs"
description.en = "Lightweight self-hosted Git forge"
description.fr = "Forge Git légère auto-hébergé"

version = "0.13.3~ynh1"

maintainers = []

[upstream]
license = "MIT"
website = "http://gogs.io"
demo = "https://try.gogs.io/user/login"
admindoc = "https://gogs.io/docs"
code = "https://github.com/gogs/gogs"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = true

ldap = true
sso = true

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/gogs"

    [install.admin]
    type = "user"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

 [resources.sources]
    [resources.sources.main]
    amd64.url = "https://github.com/gogs/gogs/releases/download/v0.13.3/gogs_0.13.3_linux_amd64.tar.gz"
    amd64.sha256 = "a0702e0cd03a80e7c964b4cec8fa5102f58f506a919c33b1ba454bd3db77e875"
    arm64.url = "https://github.com/gogs/gogs/releases/download/v0.13.3/gogs_0.13.3_linux_armv8.tar.gz"
    arm64.sha256 = "52fccddfb5739c571d1e1cda72b7302074697bc096791cc28aa4efa4f024b9d2"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "gogs_.*_linux_amd64.tar.gz"
    autoupdate.asset.arm64 = "gogs_.*_linux_armv8.tar.gz"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["data/repositories", "data/avatars", "data/attachments"]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "mariadb-server"

    [resources.database]
    type = "mysql"
